.container {
  background-color: bisque;
  width: 100%;
  height: auto;
  margin: 2%
}

.flexTraitRow {
  display: flex;
  flex-flow: row;
}

.flexTraitColumn {
  display: flex;
  flex-flow: column;
}

.centering {
  text-align: center;
}

.overallFont {
  font-family: 'PT Mono', monospace;
}

.titles {
  font: bolder;
}

#mainTitle {
  padding-top: 20%;
}

#hsBtn {
  margin: 2%;
}

#timer {
  margin: 2%;
  text-align: right;
  font-family: 'PT Mono', monospace;
}